.search_section {
    background-color: #20262E;
}

.search_section {
    padding: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_box {
    width: 25rem;
    height: 3rem;
    padding: 0.6rem;
    border-radius: 2rem;
    border: 1px solid blue;
    /* border-style: none; */
    font-weight: bold;
    font-size: 1.2rem;
}

.search_icon {
    width: 2rem;
    position: relative;
    right: 3rem;
    cursor: pointer;
}

.search_icon:hover {
    zoom: 1.1;
}

.star_details_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}

.section_heading {
    text-align: center;
    padding: 1rem;
}

.section_heading h1 {
    font-size: 3rem;
}

.floating_button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #5cb85c;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.floating_button:hover {
    background-color: #fff;
}
